var user = '*****';
var password = '*****';
var host = "*****:******";
var db = "****";
var authDB = "*****";
var authMechanism = '******';

module.exports.url = `mongodb://${user}:${password}@${host}/${db}?authMechanism=${authMechanism}&authenticationDatabase=${authDB}`;